body {
  margin: 0;
  background-color: #424242;
}

.editor-page {
  margin: 0 5vw;
}

.modal-header {
  font-weight: bold;
  font-size: larger;
}

.modal-body-header {
  font-weight: bold;
}

.input {
  background-color: #ffff;
}

.input:focus-visible{
  outline: none;
}

.error-modal{
  max-width: fit-content;
}

.fullscreen-modal{
  max-width: fit-content;
}

.fullscreen-modal-backdrop.show {
  background-color: rgb(0, 0, 0);
  opacity: 1;
}

.btn:focus{
  outline: 0 !important;
  box-shadow: none !important;
}