.main{
    padding: 2%;
}
.header {
  font: trajan-pro-1,trajan-pro-2;
  color: rgb(230, 202, 166);
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3);
  padding-top: 1.5%;
}
p{
    color: azure;
}
